# KickClip Studio Backend
PROJECT_NAME="KickClip Studio Backend"
SERVICE_NAME="kickclip-backend"
VERSION="0.1.0"

ENV="local"
DEBUG=true

API_V1_PREFIX="/api/v1"

BACKEND_CORS_ORIGINS="http://localhost:3000,http://localhost:5173"

STORAGE_ROOT="storage"

# PostgreSQL
DATABASE_URL="postgresql+psycopg://<DB_USER>:<DB_PASSWORD>@localhost:5432/<DB_NAME>"
DB_ECHO=false